@model TodoMVC.Web.Models.ViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-group">
        <h2>todos</h2>
        <input type="text" class="form-control" id="content" name="content" value="@Model.ToDoModel.Content" placeholder="What needs to be done?">
    </form>
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br/>
@foreach (var item in Model.ToDoModels)
{
    <tr>

        <td>
            <input type="button" onclick="location.href='@Url.Action( "Update", new { id = item.Id })'" value="@(item.Status ? "V " : "   ")" style="padding: 3px 7px; border-radius: 18px; border: 1px solid #5cbf2a; color:#ffffff; font-family: Arial; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; background-color: #5cbf2a;">
        </td>
        <td>
            @if (item.Status)
            {
                <label for="content"><strike>@item.Content</strike></label>
            }
            else
            {
                <label for="content">@item.Content</label>
            }

        </td>
        <td>
            <input type="button" onclick="location.href='@Url.Action("Delete","Home", new {  id = item.Id })'" value="X" style="padding: 3px 7px; border-radius: 18px; border: 1px solid rgb(208, 39, 24); border-image: none; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; background-color: rgb(198, 45, 31);">

        </td>
    </tr>
    <br>
}



@Html.ActionLink("All", "Index")|
@Html.ActionLink("Active", "Index", new { status = false })|
@Html.ActionLink("Completed", "Index", new { status = true })|
@Html.ActionLink("Clear Completed", "Clear")

