@model TodoMVC.Web.Models.ViewModel

@*@Html.Partial("Create")
    @Html.Partial("Select")*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h2>todos</h2>
        <input type="text" class="form-control" id="content" name="content" value="@Model.ToDoModel.Content" placeholder="What needs to be done?">
    </div>
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@foreach (var item in Model.ToDoModels)
{
    <tr>
        @*<td>
                     @Html.EditorFor(modelItem => item.Status, new { id = item.Id, onclick = "this.form.submit();" })
            </td>*@


        <td>

            @*<input id="Status" name="Status" type="checkbox" value="true" @(item.Status ? "checked=\"checked\"" : "") />*@




            @*@Html.EditorFor(modelItem => item.Status, new { id = item.Id, route = Model.ToDoModel.URL, firstStatus = item.Status, htmlAttributes = new { @onclick = "changeStatus()" } })*@

            @*<input id="check" class="hidden-field" type="checkbox" value="@item.Status">*@
            @*<input type="checkbox" class="status" value=@item.Status>*@
            @*@Html.ActionLink((item.Status ? "V" : "X"), "Update", new { id = item.Id, route = Model.ToDoModel.URL, firstStatus = item.Status })*@




            <input type="button" onclick="location.href='@Url.Action( "Update", new { id = item.Id })'" value="@(item.Status ? "V " : "   ")" style="padding: 3px 7px; border-radius: 18px; border: 1px solid #5cbf2a; color:#ffffff; font-family: Arial; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; background-color: #5cbf2a;">

        </td>
        <td>
            @if (item.Status)
            {
                <label for="content"><strike>@item.Content</strike></label>
            }
            else
            {
                <label for="content">@item.Content</label>
            }

        </td>
        <td>
            <input type="button" onclick="location.href='@Url.Action("Delete","Home", new {  id = item.Id })'" value="X" style="padding: 3px 7px; border-radius: 18px; border: 1px solid rgb(208, 39, 24); border-image: none; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; background-color: rgb(198, 45, 31);">

        </td>
    </tr>
    <br>
}



@Html.ActionLink("All", "Index")|
@Html.ActionLink("Active", "Index", new { status = "Active" })|
@Html.ActionLink("Completed", "Index", new { status = "Completed" })|
@Html.ActionLink("Clear Completed", "Clear")



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>