@model TodoMVC.Web.Models.ViewModel


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@foreach (var item in Model.ToDoModels)
{
    <tr>
        @*@Html.EditorFor(x => x.ToDoModel.Status)*@
        @*<input id="check" class="hidden-field" type="checkbox" value="@item.Status" onChange="this.form.action = 'Update';this.form.submit();" name="check">*@

        @*<td>
                  @Html.EditorFor(modelItem => item.Status, new { id = item.Id, onclick = "this.form.submit();" })
            </td>*@


        <td>
            @Html.ActionLink((item.Status ? "Completed" : "Active"), "Update", new { id = item.Id, route = Model.ToDoModel.URL, firstStatus = item.Status })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
   
            <input type="button" onclick="location.href='@Url.Action("Delete","Home", new {  id = item.Id, route = Model.ToDoModel.URL, firstStatus = item.Status })'" value="X"style="padding: 3px 7px; border-radius: 18px; border: 1px solid rgb(208, 39, 24); border-image: none; color: rgb(255, 255, 255); font-family: Arial; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; background-color: rgb(198, 45, 31);">
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id, route = Model.ToDoModel.URL, firstStatus = item.Status })*@
        </td>
    </tr>
    <br>
}



@Html.ActionLink("All", "Index")|
@Html.ActionLink("Active", "Select", new { status = false })|
@Html.ActionLink("Completed", "Select", new { status = true })|
@Html.ActionLink("Clear Completed", "Clear")



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


