@model TodoMVC.Web.Models.ViewModel
@*@Html.Partial("Create")*@
@foreach (var item in Model.ToDoModels)
{
    <tr>
        @*@Html.EditorFor(x => x.ToDoModel.Status)*@
        @*<input id="check" class="hidden-field" type="checkbox" value="@item.Status" onChange="this.form.action = 'Update';this.form.submit();" name="check">*@

        @*<td>
                  @Html.EditorFor(modelItem => item.Status, new { id = item.Id, onclick = "this.form.submit();" })
            </td>*@


        <td>
            @Html.ActionLink((item.Status ? "Done" : "UnDone"), "Update", new { id = item.Id ,route=ViewBag.route}, new { @Onclick = "changStatus(this);" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    <br>
}

@Html.ActionLink("All", "Index")|
@Html.ActionLink("Active", "Select", new { status = false })|
@Html.ActionLink("Completed", "Select", new { status = true })|
@Html.ActionLink("Clear Completed", "Clear")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
        $(function () {
            $(":checkbox").change(function () {
                $.post("Update", { id: this.id, checked: this.checked });
            });
        });
        //$(document).on("click", "#hi", function () {
        //    if ($(this).is(':checked') {
        //        $('form').submit();
        //    }
        //});
</script>

<script language="JavaScript">
    function changStatus(obj) {
        $(this).text("已經購買");

    }
</script>

